<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
  <testsuites>
    <testsuite name="StoreCore">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./tests</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="clover.xml"/>
  </logging>

  <php>
   <ini name="display_errors" value="true"/>
  </php>
</phpunit>
