@charset "UTF-8";

html {
  color: #212121;
  color: rgba(0,0,0,.87);
}

html,
body {
  font-family: Roboto, sans-serif;
  font-display: swap;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

body {
  background: #eee;
}
