body,
html {
  background-color: #fff;
  color: #000;
  cursor: default;
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 34px;
  font-weight: 300;
}

em {
  font-style: normal;
  font-weight: 500;
}
