.mdl-color-text--indigo{color:#3f51b5}
.mdl-color--indigo{background-color:#3f51b5}
.mdl-color-text--indigo-50{color:#e8eaf6}
.mdl-color--indigo-50{background-color:#e8eaf6}
.mdl-color-text--indigo-100{color:#c5cae9}
.mdl-color--indigo-100{background-color:#c5cae9}
.mdl-color-text--indigo-200{color:#9fa8da}
.mdl-color--indigo-200{background-color:#9fa8da}
.mdl-color-text--indigo-300{color:#7986cb}
.mdl-color--indigo-300{background-color:#7986cb}
.mdl-color-text--indigo-400{color:#5c6bc0}
.mdl-color--indigo-400{background-color:#5c6bc0}
.mdl-color-text--indigo-500{color:#3f51b5}
.mdl-color--indigo-500{background-color:#3f51b5}
.mdl-color-text--indigo-600{color:#3949ab}
.mdl-color--indigo-600{background-color:#3949ab}
.mdl-color-text--indigo-700{color:#303f9f}
.mdl-color--indigo-700{background-color:#303f9f}
.mdl-color-text--indigo-800{color:#283593}
.mdl-color--indigo-800{background-color:#283593}
.mdl-color-text--indigo-900{color:#1a237e}
.mdl-color--indigo-900{background-color:#1a237e}
.mdl-color-text--indigo-A100{color:#8c9eff}
.mdl-color--indigo-A100{background-color:#8c9eff}
.mdl-color-text--indigo-A200{color:#536dfe}
.mdl-color--indigo-A200{background-color:#536dfe}
.mdl-color-text--indigo-A400{color:#3d5afe}
.mdl-color--indigo-A400{background-color:#3d5afe}
.mdl-color-text--indigo-A700{color:#304ffe}
.mdl-color--indigo-A700{background-color:#304ffe}
