.mdl-color-text--pink{color:#e91e63}
.mdl-color--pink{background-color:#e91e63}
.mdl-color-text--pink-50{color:#fce4ec}
.mdl-color--pink-50{background-color:#fce4ec}
.mdl-color-text--pink-100{color:#f8bbd0}
.mdl-color--pink-100{background-color:#f8bbd0}
.mdl-color-text--pink-200{color:#f48fb1}
.mdl-color--pink-200{background-color:#f48fb1}
.mdl-color-text--pink-300{color:#f06292}
.mdl-color--pink-300{background-color:#f06292}
.mdl-color-text--pink-400{color:#ec407a}
.mdl-color--pink-400{background-color:#ec407a}
.mdl-color-text--pink-500{color:#e91e63}
.mdl-color--pink-500{background-color:#e91e63}
.mdl-color-text--pink-600{color:#d81b60}
.mdl-color--pink-600{background-color:#d81b60}
.mdl-color-text--pink-700{color:#c2185b}
.mdl-color--pink-700{background-color:#c2185b}
.mdl-color-text--pink-800{color:#ad1457}
.mdl-color--pink-800{background-color:#ad1457}
.mdl-color-text--pink-900{color:#880e4f}
.mdl-color--pink-900{background-color:#880e4f}
.mdl-color-text--pink-A100{color:#ff80ab}
.mdl-color--pink-A100{background-color:#ff80ab}
.mdl-color-text--pink-A200{color:#ff4081}
.mdl-color--pink-A200{background-color:#ff4081}
.mdl-color-text--pink-A400{color:#f50057}
.mdl-color--pink-A400{background-color:#f50057}
.mdl-color-text--pink-A700{color:#c51162}
.mdl-color--pink-A700{background-color:#c51162}
