.mdl-color-text--orange{color:#ff9800}
.mdl-color--orange{background-color:#ff9800}
.mdl-color-text--orange-50{color:#fff3e0}
.mdl-color--orange-50{background-color:#fff3e0}
.mdl-color-text--orange-100{color:#ffe0b2}
.mdl-color--orange-100{background-color:#ffe0b2}
.mdl-color-text--orange-200{color:#ffcc80}
.mdl-color--orange-200{background-color:#ffcc80}
.mdl-color-text--orange-300{color:#ffb74d}
.mdl-color--orange-300{background-color:#ffb74d}
.mdl-color-text--orange-400{color:#ffa726}
.mdl-color--orange-400{background-color:#ffa726}
.mdl-color-text--orange-500{color:#ff9800}
.mdl-color--orange-500{background-color:#ff9800}
.mdl-color-text--orange-600{color:#fb8c00}
.mdl-color--orange-600{background-color:#fb8c00}
.mdl-color-text--orange-700{color:#f57c00}
.mdl-color--orange-700{background-color:#f57c00}
.mdl-color-text--orange-800{color:#ef6c00}
.mdl-color--orange-800{background-color:#ef6c00}
.mdl-color-text--orange-900{color:#e65100}
.mdl-color--orange-900{background-color:#e65100}
.mdl-color-text--orange-A100{color:#ffd180}
.mdl-color--orange-A100{background-color:#ffd180}
.mdl-color-text--orange-A200{color:#ffab40}
.mdl-color--orange-A200{background-color:#ffab40}
.mdl-color-text--orange-A400{color:#ff9100}
.mdl-color--orange-A400{background-color:#ff9100}
.mdl-color-text--orange-A700{color:#ff6d00}
.mdl-color--orange-A700{background-color:#ff6d00}
