.mdl-color-text--yellow{color:#ffeb3b}
.mdl-color--yellow{background-color:#ffeb3b}
.mdl-color-text--yellow-50{color:#fffde7}
.mdl-color--yellow-50{background-color:#fffde7}
.mdl-color-text--yellow-100{color:#fff9c4}
.mdl-color--yellow-100{background-color:#fff9c4}
.mdl-color-text--yellow-200{color:#fff59d}
.mdl-color--yellow-200{background-color:#fff59d}
.mdl-color-text--yellow-300{color:#fff176}
.mdl-color--yellow-300{background-color:#fff176}
.mdl-color-text--yellow-400{color:#ffee58}
.mdl-color--yellow-400{background-color:#ffee58}
.mdl-color-text--yellow-500{color:#ffeb3b}
.mdl-color--yellow-500{background-color:#ffeb3b}
.mdl-color-text--yellow-600{color:#fdd835}
.mdl-color--yellow-600{background-color:#fdd835}
.mdl-color-text--yellow-700{color:#fbc02d}
.mdl-color--yellow-700{background-color:#fbc02d}
.mdl-color-text--yellow-800{color:#f9a825}
.mdl-color--yellow-800{background-color:#f9a825}
.mdl-color-text--yellow-900{color:#f57f17}
.mdl-color--yellow-900{background-color:#f57f17}
.mdl-color-text--yellow-A100{color:#ffff8d}
.mdl-color--yellow-A100{background-color:#ffff8d}
.mdl-color-text--yellow-A200{color:#ff0}
.mdl-color--yellow-A200{background-color:#ff0}
.mdl-color-text--yellow-A400{color:#ffea00}
.mdl-color--yellow-A400{background-color:#ffea00}
.mdl-color-text--yellow-A700{color:#ffd600}
.mdl-color--yellow-A700{background-color:#ffd600}
