.mdl-color-text--blue{color:#2196f3}
.mdl-color--blue{background-color:#2196f3}
.mdl-color-text--blue-50{color:#e3f2fd}
.mdl-color--blue-50{background-color:#e3f2fd}
.mdl-color-text--blue-100{color:#bbdefb}
.mdl-color--blue-100{background-color:#bbdefb}
.mdl-color-text--blue-200{color:#90caf9}
.mdl-color--blue-200{background-color:#90caf9}
.mdl-color-text--blue-300{color:#64b5f6}
.mdl-color--blue-300{background-color:#64b5f6}
.mdl-color-text--blue-400{color:#42a5f5}
.mdl-color--blue-400{background-color:#42a5f5}
.mdl-color-text--blue-500{color:#2196f3}
.mdl-color--blue-500{background-color:#2196f3}
.mdl-color-text--blue-600{color:#1e88e5}
.mdl-color--blue-600{background-color:#1e88e5}
.mdl-color-text--blue-700{color:#1976d2}
.mdl-color--blue-700{background-color:#1976d2}
.mdl-color-text--blue-800{color:#1565c0}
.mdl-color--blue-800{background-color:#1565c0}
.mdl-color-text--blue-900{color:#0d47a1}
.mdl-color--blue-900{background-color:#0d47a1}
.mdl-color-text--blue-A100{color:#82b1ff}
.mdl-color--blue-A100{background-color:#82b1ff}
.mdl-color-text--blue-A200{color:#448aff}
.mdl-color--blue-A200{background-color:#448aff}
.mdl-color-text--blue-A400{color:#2979ff}
.mdl-color--blue-A400{background-color:#2979ff}
.mdl-color-text--blue-A700{color:#2962ff}
.mdl-color--blue-A700{background-color:#2962ff}
