.mdl-color-text--green{color:#4caf50}
.mdl-color--green{background-color:#4caf50}
.mdl-color-text--green-50{color:#e8f5e9}
.mdl-color--green-50{background-color:#e8f5e9}
.mdl-color-text--green-100{color:#c8e6c9}
.mdl-color--green-100{background-color:#c8e6c9}
.mdl-color-text--green-200{color:#a5d6a7}
.mdl-color--green-200{background-color:#a5d6a7}
.mdl-color-text--green-300{color:#81c784}
.mdl-color--green-300{background-color:#81c784}
.mdl-color-text--green-400{color:#66bb6a}
.mdl-color--green-400{background-color:#66bb6a}
.mdl-color-text--green-500{color:#4caf50}
.mdl-color--green-500{background-color:#4caf50}
.mdl-color-text--green-600{color:#43a047}
.mdl-color--green-600{background-color:#43a047}
.mdl-color-text--green-700{color:#388e3c}
.mdl-color--green-700{background-color:#388e3c}
.mdl-color-text--green-800{color:#2e7d32}
.mdl-color--green-800{background-color:#2e7d32}
.mdl-color-text--green-900{color:#1b5e20}
.mdl-color--green-900{background-color:#1b5e20}
.mdl-color-text--green-A100{color:#b9f6ca}
.mdl-color--green-A100{background-color:#b9f6ca}
.mdl-color-text--green-A200{color:#69f0ae}
.mdl-color--green-A200{background-color:#69f0ae}
.mdl-color-text--green-A400{color:#00e676}
.mdl-color--green-A400{background-color:#00e676}
.mdl-color-text--green-A700{color:#00c853}
.mdl-color--green-A700{background-color:#00c853}
