.mdl-color-text--lime{color:#cddc39}
.mdl-color--lime{background-color:#cddc39}
.mdl-color-text--lime-50{color:#f9fbe7}
.mdl-color--lime-50{background-color:#f9fbe7}
.mdl-color-text--lime-100{color:#f0f4c3}
.mdl-color--lime-100{background-color:#f0f4c3}
.mdl-color-text--lime-200{color:#e6ee9c}
.mdl-color--lime-200{background-color:#e6ee9c}
.mdl-color-text--lime-300{color:#dce775}
.mdl-color--lime-300{background-color:#dce775}
.mdl-color-text--lime-400{color:#d4e157}
.mdl-color--lime-400{background-color:#d4e157}
.mdl-color-text--lime-500{color:#cddc39}
.mdl-color--lime-500{background-color:#cddc39}
.mdl-color-text--lime-600{color:#c0ca33}
.mdl-color--lime-600{background-color:#c0ca33}
.mdl-color-text--lime-700{color:#afb42b}
.mdl-color--lime-700{background-color:#afb42b}
.mdl-color-text--lime-800{color:#9e9d24}
.mdl-color--lime-800{background-color:#9e9d24}
.mdl-color-text--lime-900{color:#827717}
.mdl-color--lime-900{background-color:#827717}
.mdl-color-text--lime-A100{color:#f4ff81}
.mdl-color--lime-A100{background-color:#f4ff81}
.mdl-color-text--lime-A200{color:#eeff41}
.mdl-color--lime-A200{background-color:#eeff41}
.mdl-color-text--lime-A400{color:#c6ff00}
.mdl-color--lime-A400{background-color:#c6ff00}
.mdl-color-text--lime-A700{color:#aeea00}
.mdl-color--lime-A700{background-color:#aeea00}
