.mdl-tabs{display:block;width:100%}
.mdl-tabs__tab-bar{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:space-between;-ms-flex-line-pack:justify;align-content:space-between;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;height:48px;padding:0;margin:0;border-bottom:1px solid #e0e0e0}

.mdl-tabs__tab {
  border: none;
  color: rgba(0, 0, 0, .54);
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  margin: 0;
  overflow: hidden;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active{color:rgba(0,0,0,.87)}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after{height:2px;width:100%;display:block;content:" ";bottom:0;left:0;position:absolute;background:rgb(33,150,243);-webkit-animation:border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;animation:border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;transition:all 1s cubic-bezier(.4,0,1,1)}
.mdl-tabs__tab .mdl-tabs__ripple-container{display:block;position:absolute;height:100%;width:100%;left:0;top:0;z-index:1;overflow:hidden}
.mdl-tabs__tab .mdl-tabs__ripple-container .mdl-ripple{background:rgb(33,150,243)}
.mdl-tabs__panel{display:block}
.mdl-tabs.is-upgraded .mdl-tabs__panel{display:none}
.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active{display:block}
