.mdl-color-text--deep-orange{color:#ff5722}
.mdl-color--deep-orange{background-color:#ff5722}
.mdl-color-text--deep-orange-50{color:#fbe9e7}
.mdl-color--deep-orange-50{background-color:#fbe9e7}
.mdl-color-text--deep-orange-100{color:#ffccbc}
.mdl-color--deep-orange-100{background-color:#ffccbc}
.mdl-color-text--deep-orange-200{color:#ffab91}
.mdl-color--deep-orange-200{background-color:#ffab91}
.mdl-color-text--deep-orange-300{color:#ff8a65}
.mdl-color--deep-orange-300{background-color:#ff8a65}
.mdl-color-text--deep-orange-400{color:#ff7043}
.mdl-color--deep-orange-400{background-color:#ff7043}
.mdl-color-text--deep-orange-500{color:#ff5722}
.mdl-color--deep-orange-500{background-color:#ff5722}
.mdl-color-text--deep-orange-600{color:#f4511e}
.mdl-color--deep-orange-600{background-color:#f4511e}
.mdl-color-text--deep-orange-700{color:#e64a19}
.mdl-color--deep-orange-700{background-color:#e64a19}
.mdl-color-text--deep-orange-800{color:#d84315}
.mdl-color--deep-orange-800{background-color:#d84315}
.mdl-color-text--deep-orange-900{color:#bf360c}
.mdl-color--deep-orange-900{background-color:#bf360c}
.mdl-color-text--deep-orange-A100{color:#ff9e80}
.mdl-color--deep-orange-A100{background-color:#ff9e80}
.mdl-color-text--deep-orange-A200{color:#ff6e40}
.mdl-color--deep-orange-A200{background-color:#ff6e40}
.mdl-color-text--deep-orange-A400{color:#ff3d00}
.mdl-color--deep-orange-A400{background-color:#ff3d00}
.mdl-color-text--deep-orange-A700{color:#dd2c00}
.mdl-color--deep-orange-A700{background-color:#dd2c00}
