.mdl-color-text--deep-purple{color:#673ab7}
.mdl-color--deep-purple{background-color:#673ab7}
.mdl-color-text--deep-purple-50{color:#ede7f6}
.mdl-color--deep-purple-50{background-color:#ede7f6}
.mdl-color-text--deep-purple-100{color:#d1c4e9}
.mdl-color--deep-purple-100{background-color:#d1c4e9}
.mdl-color-text--deep-purple-200{color:#b39ddb}
.mdl-color--deep-purple-200{background-color:#b39ddb}
.mdl-color-text--deep-purple-300{color:#9575cd}
.mdl-color--deep-purple-300{background-color:#9575cd}
.mdl-color-text--deep-purple-400{color:#7e57c2}
.mdl-color--deep-purple-400{background-color:#7e57c2}
.mdl-color-text--deep-purple-500{color:#673ab7}
.mdl-color--deep-purple-500{background-color:#673ab7}
.mdl-color-text--deep-purple-600{color:#5e35b1}
.mdl-color--deep-purple-600{background-color:#5e35b1}
.mdl-color-text--deep-purple-700{color:#512da8}
.mdl-color--deep-purple-700{background-color:#512da8}
.mdl-color-text--deep-purple-800{color:#4527a0}
.mdl-color--deep-purple-800{background-color:#4527a0}
.mdl-color-text--deep-purple-900{color:#311b92}
.mdl-color--deep-purple-900{background-color:#311b92}
.mdl-color-text--deep-purple-A100{color:#b388ff}
.mdl-color--deep-purple-A100{background-color:#b388ff}
.mdl-color-text--deep-purple-A200{color:#7c4dff}
.mdl-color--deep-purple-A200{background-color:#7c4dff}
.mdl-color-text--deep-purple-A400{color:#651fff}
.mdl-color--deep-purple-A400{background-color:#651fff}
.mdl-color-text--deep-purple-A700{color:#6200ea}
.mdl-color--deep-purple-A700{background-color:#6200ea}
